<section>
  <div class="contact-container">
    <div class="title">
      <h1>LET'S WORK ON SOMETHING GREAT!</h1>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam commodi doloremque eaque laudantium nulla
        placeat quaerat. Iure iusto reprehenderit sed voluptatem? Amet consequuntur dolore modi molestias nulla sapiente
        veniam.</p>
    </div>

    <div class="socials">
      <i class="bi bi-whatsapp"> Whatsapp</i>
      <i class="bi bi-instagram"> Instagram</i>
      <i class="bi bi-linkedin"> Linkedin</i>
    </div>
  </div>
</section>
