<nav>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">

      <div class="col-md-3">
        <div class="logo-container">
          <img src="/logo.png" alt="logo do artista" class="logo">
        </div>
      </div>

      <div class="col-md-9 d-flex justify-content-end align-items-center">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>

        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="closeMenu()">Work</li>
            <li (click)="closeMenu()">About</li>
            <li (click)="closeMenu()">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
