<section class="profile-container">
  <img src="/profile.jpg" alt="">
</section>

<section class="text-container">
  <div class="title">
    <h1>Afonso Reis</h1>
    <p>2D Artist | Open or opportunities</p>
  </div>

  <div class="text">
    Experienced professional in creating scenarios, sprites, and items for mobile games, for over 3 years I have
    contributed to the success of various projects. I am seeking opportunities in mobile or PC/Console game projects,
    valuing continuous learning and meaningful contributions to successful teams. I adapt well to solid company
    structures that offer stability and am eager to apply my skills and passion to the next opportunity.
  </div>
</section>
